<!DOCTYPE html>
<html>
<head>
<title>Content Responsive Popup in Pure JavaScript</title>
<meta name="description" content="Content Responsive Popup in Pure JavaScript">
<meta name="keyword" content="Content Responsive Popup, in Pure JavaScript,reposnive popup, model">
<meta name="auhor" content="Md Hidaytullah Rahmani">
<style>

  body {
    background: #fff;
    font-family: "Noto Sans", sans-serif;
    color: #444;
    font-size: 14px;
  }
  
   
</style>
</head>
<body>

  
  <div class="div" style="border-left: 1px solid black;border-: 1px solid black;">
      {% for el in b %}
      <div class="block" style="border-left: 1px solid black;border-: 1px solid black;">
          {% for y  in a %}
              <div  class="cells__input" style="width:320px; display:inline-block; border:1px solid black" ></div>
          {% endfor %}
      </div>
    {% endfor %}
  </div>

    



</body>
</html>

